.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{data: {toggle: 'collapse', target: '.nav-collapse'}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{href: '/admin'} moneymaker
      .nav-collapse
        %ul.nav
          %li{class: ("active" if params[:controller] == 'admin/greetings')}
            %a{href: admin_greetings_path}
              = t 'greeting.menu_caption'
          %li{class: ("active" if params[:controller] == 'admin/users')}
            %a{href: admin_users_path}
              = t 'user.menu_caption'
          %li= link_to 'link3', '#link2'
