.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{data: {toggle: 'collapse', target: '.nav-collapse'}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{href: '/admin'} moneymaker
      .nav-collapse
        %ul.nav
          - %w(greetings users items rooms swfclients flash_libs).each do |controller|
            %li{class: ("active" if params[:controller] == "admin/#{controller}")}
              %a{href: url_for(controller: controller)}
                = t "#{controller[0..-2]}.menu_caption"
