= javascript_include_tag "//vk.com/js/api/xd_connection.js?2"
= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js'
:javascript
  $(document).ready(function(){
    VK.init();
  });
- if @redirect_uri
  :javascript
    window.top.location = "#{@redirect_uri}";
%object#moneymaker{width: 830, height: 760, classid: 'clsid:d27cdb6e-ae6d-11cf-96b8-444553540000'}
  %param{name: 'wmode', value: 'transparent'}
  %param{name: 'movie', value: @swfpath}
  %param{name: 'allowScriptAccess', value: 'always'}
  %param{name: 'FlashVars', value: @flashvars}
  %embed{name: 'moneymaker', FlashVars: @flashvars, width: 830, height: 760, type: 'application/x-shockwave-flash', wmode: 'transparent', allowscriptaccess: 'always', src: @swfpath}
