- @skip_fields = %w(coins_max coins_spent money_bought money_spent deposit_percent credit_percent client_interval crime_interval friend_ids credits deposits reputation_bonus friend_visits)
= render partial: 'shared/table'
